@page "/alunos/create"
@using BlazorApp.Models
@using System.Text.Json.Nodes
@inject HttpClient http

<div class="row">
    <div class="col-lg-8">
        <h1 class="mb-5">Novo Aluno</h1>

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">Nome</label>
            <div class="col-md-8">
                <input type="text" class="form-control" @bind="AlunosData.Nome" />
                <span class="text-danger"> @Errors["Nome"]?[0]</span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">Usuário</label>
            <div class="col-md-8">
                <input type="text" class="form-control" @bind="AlunosData.Usuario" />
                <span class="text-danger"> @Errors["Usuario"]?[0]</span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">Senha</label>
            <div class="col-md-8">
                <input type="text" class="form-control" @bind="AlunosData.Senha" />
                <span class="text-danger"> @Errors["Senha"]?[0]</span>
            </div>
        </div>

        <div class="row">
            <div class="offset-md-4 col-md d-grid">
                <button class="btn btn-primary" @onclick="CreateAluno">Salvar</button>
            </div>
            <div class="col-md-4 col-md d-grid">
                <a class="btn btn-outline-primary" href="/Alunos">Voltar</a>
            </div>
        </div>

    </div>
</div>

@inject NavigationManager NavigationManager
@code {

    public AlunoDto AlunosData { get; set; } = new();
    public JsonNode Errors { get; set; } = new JsonObject();
    protected async Task CreateAluno()
    {
        var response = await http.PostAsJsonAsync("https://localhost:4000/api/Alunos", AlunosData);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/Alunos");

        }
        else
        {
            var strReponse = await response.Content.ReadAsStringAsync();
            Console.WriteLine("Json Response: \n" + strReponse);

            try
            {
                var jsonResponse = JsonNode.Parse(strReponse);
                Errors = jsonResponse?["errors"] ?? new JsonObject();
            }
            catch (Exception ex)
            {
                
            }
        }
    }
}
