@page "/alunos/Delete/{id:int}"

<h1 class="mb-3"> Delete Aluno</h1>
<p> Confirma a exclusão do Aluno cujo a matrícula é @Id?</p>
<button class="btn-danger" @onclick="DeleteAluno">Excluir</button>
<a class="btn btn-outline-primary" href="/Alunos">Voltar</a>

@inject HttpClient Http
@inject NavigationManager NavigationManager

@code {
    [Parameter]
    public int Id { get; set; }

    protected async Task DeleteAluno()
    {
        var response = await Http.DeleteAsync($"https://localhost:4000/api/Alunos/{Id}");
        NavigationManager.NavigateTo("/Alunos");
    }
}
